<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6"><br><br>
			<%= form_for @article do |form|%>
				<%= form.label :Title %>
				<%= form.text_field :title, class: "form-control"%>	
				<%= form.label :Description %>
				<%= form.text_area :description, class: "form-control"%>
				<%= form.label :User_Id %>
				<%= form.text_field :user_id,value: current_user.id, class: "form-control" %>
				<%#= form.select :user_id, User.all.collect { |p| [p.name, p.id ] }, include_blank: true ,class:"form-control"%><br>	
				<%= form.label :Image %>
				<%= form.file_field :main_image, class: "form-control"%><br>
				<%= form.submit "Submit" , class: "btn btn-primary"%>
				<%= link_to "Back",articles_path, class: "btn btn-success"%>
				<br><br>
			<% end %>
		</div>
		<div class="col-sm-3"></div>
	</div>

</div>