<div class="container">
<h5 class="Center">Dashboard</h5>
	<div class="row m-3">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<% @article.each do |article|%>
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				<h5 class="card-title"><%= article.title %></h5>
				<p class="card-text"><%=h truncate(article.description, :length => 20) %></p>
				<p class="card-text"><small class="text-muted">Create time <%= article.created_at%></small></p>
				<p class="card-text"><small class="text-muted">Last Update <%= article.updated_at%></small></p>
				<% if article.user.present?%>
				  <b>Created By : </b><%= article.user.name%>
				<% end %>
				<%= link_to "SHOW",article_path(article), class: "btn btn-primary SHOWBTN"%><br><br>
				</div>
			</div>
			<% end %>
		</div>
		<div class="col-sm-4">
			 <% if current_user.present?%>
			 <%= image_tag(User.find(current_user.id).main_image,class: "user_img") if User.find(current_user.id).main_image.attached?%><br>
			 <b class="user_name"><%= User.find(current_user.id).name  %></b>
			 <% end %>
		</div>
	</div>
</div>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @article %>
    </div>
    <%= will_paginate @article, :container => false %>
  </div>