<div class="container">
	<div class="row m-2">
		<div class="col-sm-6">
			<h4 class="heading"><%= @article.title %></h4>
			<p><%= @article.description %></p><br><br>
		<% if current_user.present?%>
			<%= link_to "Update",edit_article_path(@article), class: "btn btn-info BTN"%>
			<%= link_to "Destroy", article_path(@article.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  },class: "btn btn-danger" %>
			<%= link_to "Back",articles_path, class: "btn btn-success"%>
		<% else %>
		<%= link_to "Back",articles_path, class: "btn btn-success"%>
		<% end %>
		</div>
		<div class="col-sm-6"><br>
		 <%= image_tag(@article.main_image, class: "show_img") if @article.main_image.attached?%>
			
		</div>
	</div>

</div>